{% extends 'base.html' %}
{% block content %}

<!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>여행지 추천</h1>
                    <p class="p-large">충청북도 여행 중 좋았던 곳을 자유롭게 알려주세요!</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <div class="container rec-div">
        <div class="row">

        </div>
    </div>

{% endblock %}