<!-- 필드오류 -->
{% if form.errors %}
<div class="alert alert-danger" role="alert" style="text-align:left;">
    {% for field, errors in form.errors.items() %}
    <strong style="font-size:12px;">{{ form[field].label }}</strong>
    <ul style="margin:-8px;">
        {% for error in errors %}
        <li style="font-size:12px;">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endif %}
<!-- flash 오류 -->
{% for message in get_flashed_messages() %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}